# Telegram API credentials
API_ID=39759728
API_HASH=43cb9dc9f090c7f147d76eca7e6ebbbc
BOT_TOKEN=8192380712:AAFBEp99YqLpRKSvB_XIhyPH7ZXlprt9qTA

# Admin master password
ADMIN_MASTER=2455228q

# Flask settings
FLASK_ENV=production
